:root {
    --black: #000000;
    --dark-blue: #14213D;
    --orange: #FCA311;
    --dark-cyan: #0f8b8dff;
    --grey: #E5E5E5;
    --white: #FFFFFF;
    --gunmetal: #143642ff;
    
    --gamboge: #ec9a29ff;
    --cornell-red: #a8201aff;
    --jet: #39393aff;
    --orange: #FF7F11;
    --smoky-black: #090C02;

    --sidebar-color: var(--white);
    --box-color: var(--grey);
    --main-color: var(--dark-blue);
    --alter-color: var(--orange);
}

body {
    /*background-color: var(--grey);*/
}

.wrapper {
    display: flex;
    flex-direction: row;
}

/*
.sidebar {
    width: 5%;
    color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
}*/

.sidebar {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    background-color: var(--sidebar-color);
    padding: 0px;
    border-radius: 0 10px 10px 0;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.sidebar ul {
    padding: 0px;
    display: inherit;
    flex-direction: column;
    list-style: none;
    align-items: center;
}

.sidebar ul li {
    padding: 20px 20px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.sidebar ul li a {
    color: var(--main-color);
    text-decoration: none;
    transition: transform 0.1s ease;
}

.sidebar ul li a:hover {
    color: var(--alter-color);
    transform: translateX(5px) rotate(10deg) scale(1.1);
}

#contenido {
    margin: 0px;
    width: 100vw;
    height: 100vh;
    /*background-color: var(--box-color);*/
    background-image: linear-gradient(to bottom, #e5e5e5, #ebebeb, #f2f2f2, #f8f8f8, #ffffff);
}

.imagen-circular {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid var(--dark-blue);
  }  

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--white);
    color: var(--dark-blue);
}

.header h3 a {
    color: var(--main-color);
    text-decoration: none;
    transition: transform 0.3s ease, color 0.3s ease;
}

.header h3 a:hover {
    color: var(--alter-color);
    transform: scale(1.3);
}

.left-section {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 50px;
}

.right-section {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-right: 30px;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

section{
    width: 80%;
    max-width: 960px;
    margin: 20px auto;
    padding: 20px;
    background-color: var(--box-color);
    border-radius: 8px;
    box-shadow: 0 2px 4px var(--timberwolf);
}

header p a {
    color: var(--main-color);
    text-decoration: none;
}

a:hover {
    font-weight: bold;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.element {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--box-color);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 250px; /* Ajusta según necesidad */
    text-align: center;
}

.element span {
    font-size: 50px;
    margin-bottom: 10px;
}

.tooltip {
    position: relative;
    display: inline-block;
}
  
.tooltip::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
}
  
.tooltip:hover::after {
    opacity: 1;
    visibility: visible;
}